# Database connection
# You can use a local MongoDB URI like: mongodb://127.0.0.1:27017/mazzady
# Or use the pre-configured shared MongoDB Atlas URI for zero-setup out of the box:
MONGODB_URI=mongodb+srv://abdallahhfares_db_user:WApo4Tw3H8Ls0tJ6@mazzady3.iorvzi8.mongodb.net/projectdata?appName=mazzady3

# Security
JWT_SECRET=1234567890abcdefghijklmnopqrstuvwxyz

# URLs
FRONTEND_URL=http://localhost:4200
PORT=3001

# Email configurations (Gmail App Password)
EMAIL_PASSWORD=YOUR_EMAIL_PASSWORD

# Google OAuth
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
GOOGLE_REDIRECT_URI=http://localhost:3001/auth/google/callback

# Facebook OAuth
FACEBOOK_APP_ID=YOUR_FACEBOOK_APP_ID
FACEBOOK_APP_SECRET=YOUR_FACEBOOK_APP_SECRET
FACEBOOK_REDIRECT_URI=http://localhost:3001/auth/facebook/callback

# Admin Credentials (Default credentials)
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=123456
